header  {
    position: sticky;
    top:0px;
    left:0px;    
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    text-align: center;
    
}

li  {
    display: block;
    color: white;
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    overflow: hidden;
    padding-right: 35px;
}
li a {
    text-decoration: none;
    color: white
        }

li a:hover  {
    color: #c1c1c1
}
body {
    margin: 0px;
    background-color:rgba(2, 2, 2, 0.05)
}   
h1 {
    text-align: center
}
    
article {
    padding:0 15%;
    overflow: hidden;
    line-height: 1,8;
}

h2  {
    text-align: center;
    padding:0 15%;
    overflow: hidden;
}

Div.TeamLogos img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}